h1, h2{

  font-weight: bold;
}

h2{

  font-size: 14pt;
}

.ml-auto{

  margin-left: auto;
}

.daily-scenary-cover-image{
    height: 10em;
    width: 100%;
    object-fit: cover;
}

.daily-scenary-avatar{
  height: 3em;
  width: 3em;
  margin-left: 5px;
}

.master-avatar{
  height: 3em;
  width: 3em;
}